2. After we convert the initial dataframe into json format, we dive into each country's set of tweets. Some of the tweets relating about the country would not have mentioned it by actual name. There are some words that could be unique to the country: example: Mexico- Wall, North Korea- Nuclear in his tweets. After that sorting, we generate tweets of each country into a .csv file.

In [1]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [2]:
df=pd.read_json('trump_data.json')
df=df.drop(columns=['id'])
df.head()

              created_at                                               text
0    2018-07-18 11:33:34      million jobs created since our great Elect...
1    2018-07-18 11:27:59  Some people HATE the fact that I got along wel...
10   2018-07-17 14:39:08  The economy of the United States is stronger t...
100  2018-07-09 17:04:04  The failing NY Times Fake News story today abo...
1000 2018-04-04 13:20:31  When you xe  x   x  re already      Billion DO...

In [3]:
countries=['egypt','sisi','shithole','germany','merkel','haitians','india','modi','iran','iranian','japan','pm','abe','gaddafi','libya','mexico','wall','north','korea','nuclear','kim','palestinians','palestine','palestinian','poland','polish','russia','putin','saudi arabia','singapore','singaporean','somali','south','africa','mandela','turkey','istanbul','brexit','united kingdom','england','uk']
countries_easy=['Afghanistan','Argentina','Australia','Belgium','Brazil','Canada','Chile','China','Colombia','Cuba','Denmark','Finland','France','Georgia','Greece','Honduras','Indonesia','Iraq','Ireland','Israel','Italy','Jamaica','Jordan','Kuwait','Nigeria','Norway','Pakistan','Panama','Phillipines','Qatar','Spain','Sudan','Sweden','Syria','Thailand','Ukraine','Uzbekistan','Venezuela','Yemen','Vietnam']

In [4]:
afghanistan_df=df[df['text'].str.contains('Afghanistan')]
argentina_df=df[df['text'].str.contains('Argentina')]

In [5]:
australia_df=df[df['text'].str.contains('Australia')]
australia_df.shape

(2, 2)

In [7]:
for i in countries_easy:
    country_df=df[df['text'].str.contains(str(i))]
    country_df.to_csv('country_dataframes/{}.csv'.format(str(i)))

In [8]:
egypt_df=df[df['text'].str.contains('Egypt') | df['text'].str.contains('Sisi')]

germany_df=df[df['text'].str.contains('Germany') | df['text'].str.contains('Merkel')]

In [9]:
haiti_df=df[df['text'].str.contains('Haiti') | df['text'].str.contains('Haitians')]
india_df=df[df['text'].str.contains('India') | df['text'].str.contains('Modi')]

In [10]:
iran_df=df[df['text'].str.contains('Iran') | df['text'].str.contains('Iranian')]
japan_df=df[df['text'].str.contains('Japan') | df['text'].str.contains('Pm Abe')]

In [12]:
libya_df=df[df['text'].str.contains('Gaddafi') | df['text'].str.contains('Libya')]
mexico_df=df[df['text'].str.contains('wall') | df['text'].str.contains('Mexico')]
north_korea_df=df[df['text'].str.contains('nuclear') | df['text'].str.contains('North Korea') | df['text'].str.contains('kim')]
palestine_df=df[df['text'].str.contains('Palestinian') | df['text'].str.contains('Palestine')]
poland_df=df[df['text'].str.contains('Poland') | df['text'].str.contains('Polish')]
russia_df=df[df['text'].str.contains('Russia') | df['text'].str.contains('Putin')]
saudi_arabia_df=df[df['text'].str.contains('Saudi Arabia')]
singapore_df=df[df['text'].str.contains('Singapore') | df['text'].str.contains('Singaporean')]
somali_df=df[df['text'].str.contains('Somali')]
south_africa_df=df[df['text'].str.contains('Mandela') | df['text'].str.contains('South Africa')]
turkey_df=df[df['text'].str.contains('Turkey') | df['text'].str.contains('Istanbul')]
england_df=df[df['text'].str.contains('United Kingdom') | df['text'].str.contains('Brexit') | df['text'].str.contains('UK') | df['text'].str.contains('England')]